@import "./backgrounds.scss";

@layer components {
  .background-dark-color {
    @apply dark:bg-black sm:dark:bg-stone-900;
  }

  .background-light-color {
    @apply bg-white sm:bg-stone-100;
  }

  .main-background-color {
    @apply background-dark-color background-light-color;
  }
}


.scrollbar-custom {
  // scrollbar-gutter: stable;
  // scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    // background-color: black;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.15);
    max-height: 20px;
    border-radius: 20px;
  }
}
