<ng-container *ngIf="whatsappUser$ | async as user">
  <app-avatar
    #trigger
    cursor="pointer"
    [mat-menu-trigger-for]="menu"
    [imageSrc]="user.image || ''"
    [initials]="user.firstName[0] + user.lastName[0]"
    matTooltip="Einstellungen"
  ></app-avatar>
  <mat-menu
    #menu="matMenu"
    [xPosition]="'before'"
    class="main-background-color text-inherit"
  >
    <div class="flex flex-col p-4">
      <span>
        {{ user.firstName }}
        {{ user.lastName }}
      </span>
      <span class="italic text-xs">{{ user.email }}</span>
    </div>
    <mat-divider></mat-divider>
    <button mat-menu-item (click)="logout()">
      <div
        class="flex flex-row gap-4 items-center text-stone-800 dark:text-stone-100"
      >
        <mat-icon class="text-[inherit!important] mr-[0!important]"
          >logout</mat-icon
        >
        <span>Abmelden</span>
      </div>
    </button>
  </mat-menu>
</ng-container>
