.slideInDown {
  animation: slideInDown 0.25s ease-out both;
}

@keyframes slideInDown {
  0% {
    opacity: 0;
    transform: translateY(-15%) scale(1.1);
  }
  100% {
    opacity: 1 !important;
    transform: translateY(0) scale(1);
  }
}

.loading-animation {
  background-image: linear-gradient(
    90deg,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0.7) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  background-size: 20% 100%;
  background-position: -20% 0%;
  animation: loading 1.25s infinite ease-in-out both;
  background-repeat: no-repeat;
}
@keyframes loading {
  0% {
    background-position: -20% 0;
  }
  100% {
    background-position: 120% 0;
  }
}

.skeleton:empty {
  --skeleton-background: transparent;
  --skeleton-color: hsl(210, 25%, 97%);
  --skeleton-color-2: hsla(210, 25%, 97%, 0.5);
  --skeleton-mask-color: rgba(102, 102, 102, 1);
  --skeleton-padding-left: 20px;
  --skeleton-avatar-size: 20px;
  --skeleton-padding-between: 20px;
  --skeleton-avatar-background-size: calc(
    var(--skeleton-padding-between) + var(--skeleton-avatar-size)
  );
  --skeleton-distance-left-text: calc(
    var(--skeleton-padding-left) + var(--skeleton-avatar-size) +
      var(--skeleton-padding-between) + var(--skeleton-padding-between)
  );
  --skeleton-line-height: 6px;
  --skeleton-contact-card-height: 60px;
  --skeleton-background-size: 50% var(--skeleton-contact-card-height),
    40% var(--skeleton-contact-card-height),
    var(--skeleton-avatar-background-size) var(--skeleton-contact-card-height);
  --skeleton-position: left var(--skeleton-distance-left-text) top 39px,
    left var(--skeleton-distance-left-text) top 21px,
    left var(--skeleton-padding-left) top 12px;

  position: relative;
  // height: 400px;
  background-color: var(--skeleton-background);
  border-radius: 0px 0px 0px 0px;
  background-image: linear-gradient(
      var(--skeleton-color-2) var(--skeleton-line-height),
      transparent 0
    ),
    linear-gradient(
      var(--skeleton-color) var(--skeleton-line-height),
      transparent 0
    ),
    radial-gradient(
      circle var(--skeleton-avatar-size) at 20px 20px,
      var(--skeleton-color) 99%,
      transparent 0
    );
  background-repeat: repeat-y;
  background-size: var(--skeleton-background-size);
  background-position: var(--skeleton-position);
}
.skeleton:empty:before {
  content: " ";
  position: absolute;
  inset: 0;
  z-index: 1000;
  -webkit-mask-image: linear-gradient(
    100deg,
    rgba(255, 255, 255, 0),
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 80%
  );
  -webkit-mask-repeat: repeat-y;
  -webkit-mask-size: 50px 400px;
  -webkit-mask-position: -20% 0;
  background-image: linear-gradient(
      var(--skeleton-mask-color) var(--skeleton-line-height),
      transparent 0
    ),
    linear-gradient(
      var(--skeleton-mask-color) var(--skeleton-line-height),
      transparent 0
    ),
    radial-gradient(
      circle var(--skeleton-avatar-size) at 20px 20px,
      var(--skeleton-mask-color) 99%,
      transparent 0
    );
  background-repeat: repeat-y;
  background-size: var(--skeleton-background-size);
  background-position: var(--skeleton-position);
  animation: shineForSkeleton 2s infinite;
}
@keyframes shineForSkeleton {
  to {
    -webkit-mask-position: 120% 0;
  }
}
