<div
  class="m-4 p-4 gap-4 border-2 border-solid border-stone-800 rounded-xl flex flex-wrap flex-row"
>
  <div
    class="p-4 rounded-xl shadow-lg"
    *ngFor="let message of whatsappMessages$ | async; let index = index"
  >
    <span class="block cursor-pointer" (click)="handleDelete(message)">
      {{ index }}.
    </span>
    <span
      class="block"
      contenteditable="true"
      (change)="handleUpdate(message)"
      >{{ message.body }}</span
    >
    <span class="block">@{{ message.updatedAt | date : "shortTime" }}</span>
  </div>
</div>
<div class="m-4 p-4 border-2 border-solid border-stone-800 rounded-xl">
  <form [formGroup]="form">
    <input type="text" formControlName="body" placeholder="Neue Nachricht" />
  </form>
  <button (click)="handleSubmit()">Add Message</button>
</div>
