<!-- <div class="flex flex-row flex-wrap gap-4 p-8 w-screen overflow-hidden">
  <div
    class="circle-card rounded-xl bg-white shadow-xl p-8 flex flex-col gap-4"
    *ngFor="let item of cards; let index = index"
    [ngStyle]="{ '--animation-delay': index * 150 + 'ms' }"
  >
    <span>Kartennummer</span>
    <span>{{ index }}</span>
  </div>
</div> -->

<div
  class="avatar-circle flex flex-row flex-wrap justify-between gap-24 p-8 w-1/3 overflow-hidden"
>
  <div *ngFor="let circle of cards" class="grow hover:grow-[3] flex items-center justify-center">
    <div class="bg-white shadow-xl p-8 rounded-[50%] hover:rounded-xl inline-block aspect-square"></div>
  </div>
</div>
