<div
  #messageRef
  *ngIf="message"
  class="slide-in flex flex-col max-w-[60%] w-[max-content] min-w-[15%] rounded-lg shadow-md p-2 text-stone-700 dark:text-stone-300"
  [ngClass]="{
    'ml-auto rounded-br-sm bg-[hsl(111,88%,91%)] dark:bg-[hsl(169,96%,18%)]':
      (user$ | async)?.id === message.sender.id,
    'mr-auto rounded-bl-sm bg-[hsl(0,0%,98%)] dark:bg-[hsl(0,0%,22%)]':
      (user$ | async)?.id === message.receiver.id
  }"
>
  <span class="text-sm">{{ message.body }}</span>
  <div
    class="flex flex-row text-[0.65rem] leading-none gap-1 text-right justify-end items-center"
  >
    <span class="opacity-60">{{ message.createdAt | date : "shortTime" }}</span>
    <app-message-delivery-status
      [status]="message.deliveryStatus"
    ></app-message-delivery-status>
  </div>
</div>
