<!-- Wrapper -->
<div #wrapper class="h-[100dvh] sm:h-screen grid grid-rows-[max-content,_auto,_max-content]">
  <!-- Contact Info Bar -->
  <app-contact-info-bar></app-contact-info-bar>

  <!-- Message Feed -->
  <!-- Scroll-wrapper -->
  <div #scroller class="overflow-y-scroll scrollbar-custom">
    <!-- Wrapper for background -->
    <div
      class="whatsapp-background dark:before:invert relative min-h-full flex flex-row"
    >
      <!-- Container for Messages, max-sized, reversed -->
      <div
        #messageContainer
        class="relative z-10 max-w-[min(100%,_1280px)] min-h-full w-full mx-auto flex flex-end gap-1 flex-col-reverse py-2 sm:py-8 px-2 sm:px-8"
      >
        <ng-container *ngIf="messages$ | async as messages; else selectContact">
          <app-message
            [message]="message"
            [index]="index"
            *ngFor="
              let message of messages;
              let index = index;
              trackBy: trackByMessageFn
            "
          ></app-message>
        </ng-container>
      </div>
    </div>
  </div>

  <!-- Message Composer -->
  <div class="relative">
    <app-message-composer></app-message-composer>
  </div>
</div>

<ng-template #selectContact>
  <div class="m-auto">Select Chat!</div>
</ng-template>
