<div
  *ngIf="contact"
  (click)="clickHandler()"
  class="flex px-6 py-2 sm:py-3 sm:px-4 gap-4 sm:gap-3 inter hover:bg-stone-100 hover:dark:bg-stone-700 cursor-pointer sm:rounded-lg"
  [ngClass]="{ 'bg-stone-100 dark:bg-stone-700': active }"
>
  <!-- Col 1, Avatar -->
  <div class="my-auto shrink-0">
    <app-avatar
      [imageSrc]="contact.image"
      [initials]="contact.firstName[0] + contact.lastName[0]"
      [size]="(screenSize.twSm$ | async) ? 56 : 46"
    ></app-avatar>
  </div>

  <!-- Col 2, Name & Message Body -->
  <div class="flex flex-col gap-[4px] grow justify-center">
    <!-- row 1, contact name -->
    <div class="flex flex-row justify-between items-center">
      <span
        class="text-sm sm:text-xs font-bold"
        [ngClass]="{ 'text-green-400': contact.unreadMessages > 0 }"
      >
        {{ contact.firstName }} {{ contact.lastName }}
      </span>
      <span
        class="text-sm sm:text-xs"
        *ngIf="contact.lastMessage"
        [ngClass]="{ 'text-green-400': contact.unreadMessages > 0 }"
      >
        {{ contact.lastMessage.updatedAt | date : "shortTime" }}
      </span>
    </div>
    <!-- row 2, message preview body -->
    <span class="line-clamp text-sm sm:text-xs opacity-80">
      {{ contact.lastMessage?.body || "Schreibe eine Nachricht" }}
    </span>
  </div>

  <!-- Col 3, last Message Date + No. of unread messages -->
  <div
    *ngIf="contact.unreadMessages > 0"
    class="flex flex-col relative h-full gap-1"
  >
    <!-- Row 1, number of unread messages -->
    <span class="flex justify-end">
      <span
        class="py-[3px] px-[6px] font-bold text-xs bg-stone-200 text-green-400 rounded-full leading-none"
      >
        {{ contact.unreadMessages }}
      </span>
    </span>
  </div>
</div>
