<div
  *ngIf="contact"
  (click)="clickHandler()"
  class="flex px-6 py-2 sm:py-3 sm:px-4 gap-4 sm:gap-3 inter hover:bg-stone-100 hover:dark:bg-stone-700 cursor-pointer sm:rounded-lg"
  [ngClass]="{
    'bg-stone-100 dark:bg-stone-700': active && !(screenSize.twSm$ | async)
  }"
>
  <!-- Col 1, Avatar -->
  <div class="my-auto shrink-0">
    <app-avatar
      [imageSrc]="contact.image"
      [initials]="contact.firstName[0] + contact.lastName[0]"
      [size]="(screenSize.twSm$ | async) ? 56 : 46"
    ></app-avatar>
  </div>

  <!-- Col 2, Name & Message Body -->
  <div class="flex flex-col gap-[4px] grow justify-center">
    <!-- row 1, contact name -->
    <div class="flex flex-row justify-between items-center">
      <div class="text-sm sm:text-xs font-bold flex items-center gap-2">
        <span [ngClass]="{ 'text-green-400': contact.unreadMessages > 0 }">
          {{ contact.firstName }} {{ contact.lastName }}
        </span>
        <span
          *ngIf="contact.isBot"
          class="rounded-xl text-[0.5rem] bg-rose-400 px-2"
          >BOT</span
        >
      </div>
      <span
        class="text-sm sm:text-xs"
        *ngIf="contact.lastMessage"
        [ngClass]="{ 'text-green-400': contact.unreadMessages > 0 }"
      >
        {{ contact.lastMessage.updatedAt | date : "shortTime" }}
      </span>
    </div>
    <!-- row 2, message preview body -->
    <div class="flex flex-row w-full gap-1">
      <span class="line-clamp grow text-sm sm:text-xs opacity-80">
        {{ contact.lastMessage?.body }}
        <ng-container
          *ngIf="!contact.lastMessage?.body && contact.lastMessage?.image"
        >
          <span class="flex items-center gap-2">
            <mat-icon class="material-icons-outlined">image_outline</mat-icon>
            <i>{{ contact.lastMessage?.image }}</i>
          </span>
        </ng-container>
        <ng-container
          *ngIf="!contact.lastMessage?.body && !contact.lastMessage?.image"
        >
          Schreibe eine Nachricht
        </ng-container>
      </span>
      <span
        *ngIf="contact.unreadMessages > 0"
        class="py-[3px] px-[6px] font-bold text-xs bg-stone-200 text-green-400 rounded-full leading-none"
      >
        {{ contact.unreadMessages }}
      </span>
    </div>
  </div>
</div>
